<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New form</title>
</head>
<body>
    <h3> Write New Chats</h3>
    <form method="POST" action="/chats">
<input placeholder="who are you" name="from">
<br>
<br>
<textarea name="mesg" id="" cols="9" rows="4">Write your mssg here...</textarea>
<br>
<br>
<input placeholder="Add Received" name="to">
<br>
<br>
<button type="submit">click to see!</button>
<br>
<br>
    </form>
</body>
</html>